* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Motserrat, sans-serif;

}

a {
    color: #876af1;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

p {
    margin: 10px 0;
}

button {
    background: #e3e3e3;
    margin: 10px 0;
    padding: 10px;
    border: unset;
    cursor: pointer;
}

.msg {
    color: #ff0c08;
}